#MainDIV{

	min-height: 600px;
	max-width: 100%;
	background-position: center;
	background-image: url('9 (2).jpg');
	background-size: cover;
	background-attachment: fixed;
}
ul{
	list-style-type: none;
	display: flex;
	justify-content: space-evenly;
/*	justify-items: end;*/
	background: white;

}
li{
	font-size: 30px;
	color: black;
	margin-top: 20px;

}

*{
	margin: 0px;
	padding: 0px;
	color: white;
}

.Hend{

	display: flex;
	text-align: center;
	flex-wrap: wrap;
	position: relative;
	left: 260px;
	font-size: 24px;
	margin-top: 150px;
	width: 60%;
}
.btn{
	background: yellow;
	border: none;
	outline: none;
	color: black;
	font-size: 10px;
	padding: 10px;
	position: relative;
	left: 300px;
	top: 23px;
}
.box{
	height: 400px;
	width: 30%;
/*	border: 4px solid white;*/
	text-align: center;
}
#cards{

	display: flex;
	justify-content: space-around;
	margin-top: 90px;
}

.box img{
	width: 100%;
	border-radius: 20px 20px 0px 0px;
	height: 200px;
	object-fit: contain;
	aspect-ratio: 3/2;
}
.box button{
	color: black;
	padding: 5px;
	border: none;
	outline: none;
	color: black;
	box-shadow: 0px 0px 10px 1px skyblue;
	margin-top: 13px;
}
#gallary{

	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
/*	align-content: space-between;*/
	align-items: center;
	background: white;

}
.div{
	margin-top: 60px;
	height: 230px;
	width: 30%;
	overflow: hidden;
/*	border: 4px solid white;*/
}
.div img{
/*	object-fit: contain;*/
	border-radius: 10px 10px;
	aspect-ratio: 3/2;
	width: 100%;
	transform: translatey(200px);
}

.div img:hover{

/*	transform: scale(3,3);*/
	transform: translatey(0px);
	transition: 1s;
}

.A{

	z-index: 990;
}
.B{
	position: relative;
	bottom: 250px;
	z-index: 981;
}

.C{
	position: relative;
	bottom: 310px;
	z-index: 999;
}
.D{
	position: relative;
	bottom: 580px;
}
.E{
	position: relative;
	bottom: 650px;
}

.F{
	position: relative;
	bottom:  670px;
}